@charset "UTF-8";
*{
    box-sizing: border-box;
}
html,body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,figure,blockquote{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img,svg{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}